/* RESETS */

body {
  margin: 0;
  height: 100vh;
}

fieldset {
  border: none;
}

/* ---- */

:root {
  --font-size: 16px;
  --font-color: #f2f2f2;

  --primary-color: #ffec00;
  --secondary-color: #f2cb05;
  --tertiary-color: #b9bf04;
  --form-color: #035918;
  --form-color1: #02731e;

  --default-font: "Mukta";
}

html {
  font-size: var(--font-size);
  color: var(--font-color);
  font-family: "Mukta", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(
    ellipse at center,
    var(--primary-color),
    var(--form-color)
  );
}

.form-container {
  display: flex;
  overflow: clip;
  height: 600px;
  width: 700px;
  border-radius: 1rem;
}

.form-container img {
  height: 100%;
}

.form-container .banner-title {
  font-family: "Tilt Prism", "Mukta", system-ui, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: calc(-800px / 2);
  text-align: center;
  font-size: 2rem;
}

.form-container > form {
  width: 100%;
  background-color: var(--form-color);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.form-container input {
  font-size: 1.1rem;
  height: auto;
  width: 90%;
  border-radius: 4px;
  display: block;
}

.form-container input:invalid {
  border: 1px solid red;
}

#signup-form p:first-child {
  text-align: center;
  font-size: 1.5rem;
}

#signup-form fieldset:first-of-type {
  padding: 8px 8px 1rem 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 8px;
  border-bottom: 2px solid var(--form-color1);
}

#signup-form fieldset legend {
  font-size: 1.5rem;
}

.create-account-btn {
  padding: 0.8rem 1.2rem;
  background-color: #026654;
  color: var(--font-color);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  border-radius: 0.6rem;
  border: 1px solid var(--font-color);
  margin: 1rem;
  font-weight: bold;
}

.create-account-btn:hover {
  background-color: darkred;
  cursor: pointer;
}

#signup-form p:last-child {
  margin: 8px;
  font-size: 0.8rem;
}

#signup-form p:last-child a {
  text-decoration: none;
  color: inherit;
  font-style: italic;
  font-size: 1rem;
}

/* Display warning text below password input */
form span p.invalid-password {
  font-size: 0.5rem !important;
  position: absolute;
  margin: 0 !important;
  padding: 2px 0 0 0 !important;
}

@media screen and (max-width: 480px) {
  .form-container {
    display: block;
    margin: 3rem;

    overflow: scroll;
  }

  .form-container > div > img {
    width: 100%;
    height: 450px;
    margin-bottom: -10px;
  }

  .form-container .banner-title {
    top: 0;
    margin: 0;
  }

  #signup-form {
    height: max-content;
    padding-bottom: 1rem;
  }

  #signup-form p:first-child {
    display: none;
  }

  #signup-form fieldset:first-of-type {
    padding: 8px 8px 1rem 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 8px;
    border-bottom: 2px solid var(--form-color1);
    font-size: 0.8rem;
    margin-top: 0;
  }

  #signup-form fieldset legend {
    font-size: 1rem;
    padding-top: 8px;
  }
}
