/* RESETS */
h1,
h2,
p {
	margin: 0;
}

picture {
	padding: 0;
}

a {
	color: inherit;
}

button {
	cursor: pointer;
}

input[type="radio"] {
	cursor: pointer;
}

/* RESETS */

:root {
	--bg-gradient-clr: #ffec00;
	--bg-gradient-clr1: #02731e;

	--form-bg-clr: #035918;
	--form-border-clr: #02731e;

	--font-clr: #f2f2f2;

	--font-fallbacks: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	font-family: "Outfit", var(--font-fallbacks);
}

body {
	background: radial-gradient(
		ellipse at center,
		var(--bg-gradient-clr),
		var(--bg-gradient-clr1)
	);

	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.farmer-signup-form {
	width: 90dvw;
	height: fit-content;
	border-radius: 8px;
	overflow: hidden;

	color: var(--font-clr);
}

.farmer-signup-form input {
	outline: none;
}

.farmer-signup-form input:hover,
.farmer-signup-form input:focus {
	outline: none;
	border: 2px solid var(--bg-gradient-clr);
}

.farmer-signup-form input:user-invalid {
	border: 2px solid red;
}

.farmer-signup-form input:user-valid {
	border: 2px solid greenyellow;
}

.form-header-img {
	position: relative;
	height: 225px;
}

.form-header-img img {
	width: 100%;
	height: 100%;
}

.form-header-img > h1 {
	font-family: "Tilt Prism";
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 8px 0;
}

.form-content {
	margin: 0;
	border: none;
	background-color: var(--form-bg-clr);
	padding: 4px 8px;
}

input::placeholder {
	font-size: 12px;
}

span.required {
	color: red;
}

.form-content > h2 {
	padding: 8px 0 0 0;
	font-size: 1rem;
}

.form-content > p {
	font-size: 12px;
	padding-bottom: 16px;
}

.form-controls {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	border-bottom: 1px solid var(--form-border-clr);
	padding-bottom: 1rem;
}

.form-controls > div {
	display: block;
}

.form-controls > div input {
	width: 100%;
}

.form-controls > .farm-pet-radio {
	grid-column: span 2;
}

.farm-pet-radio > legend {
	font-size: 0.8rem;
}

.farm-pet-radio input[type="radio"] {
	appearance: none;
	height: 0.8rem;
	width: 0.8rem;
	border: 1px solid grey;
	background: #ffff;
	position: relative;
}

.farm-pet-radio input[type="radio"]:checked::after {
	content: "";
	appearance: none;
	height: 100%;
	width: 100%;
	background: var(--bg-gradient-clr);
	position: absolute;
}

.farm-pet-radio input[type="radio"] + label {
	cursor: pointer;
}

.farm-pet-radio input[type="radio"] + label:hover {
	color: var(--bg-gradient-clr);
}

.submission > button {
	background-color: #026654;
	color: var(--font-clr);

	margin-top: 1rem;
	margin-bottom: 8px;
	padding: 8px 12px;

	border-radius: 0.5rem;
	border: 1px solid var(--font-clr);

	font-weight: bold;
}

.submission > button:hover {
	background-color: #013b31;
}

.submission > p {
	font-size: 12px;
}

.submission > p a {
	font-weight: bold;
}

/* For tablets and up */
@media (min-width: 600px) {
	.farmer-signup-form {
		display: flex;
		height: 600px;
	}

	.form-header-img {
		width: fit-content;
		height: 100%;
	}

	.form-content {
		flex-grow: 1;
	}

	input::placeholder,
	.farm-pet-radio > legend {
		font-size: initial;
	}

	.form-content > h2 {
		font-size: 1.5rem;
	}
}

/* Desktops */
@media (min-width: 1024px) {
	.farmer-signup-form {
		width: 900px;
	}
}
