/* RESETS */
h1,
h2,
p {
	margin: 0;
}

picture {
	padding: 0;
}

a {
	color: inherit;
}

button {
	cursor: pointer;
}

/* RESETS */

:root {
	--bg-gradient-clr: #ffec00;
	--bg-gradient-clr1: #02731e;

	--form-bg-clr: #035918;
	--form-border-clr: #02731e;

	--font-clr: #f2f2f2;

	--font-fallbacks: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	font-family: "Outfit", var(--font-fallbacks);
}

body {
	background: radial-gradient(
		ellipse at center,
		var(--bg-gradient-clr),
		var(--bg-gradient-clr1)
	);

	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	width: 90dvw;
	height: fit-content;
	border-radius: 8px;
	overflow: hidden;

	color: var(--font-clr);
}

.form-header-img {
	position: relative;
	height: 225px;
}

.form-header-img img {
	width: 100%;
	height: 100%;
}

.form-header-img > h1 {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 8px 0;
}

.form-content {
	margin: 0;
	border: none;
	background-color: var(--form-bg-clr);
	padding: 4px 8px;
}

input::placeholder {
	font-size: 12px;
}

span.required {
	color: red;
}

.form-content > h2 {
	padding: 8px 0 0 0;
	font-size: 1rem;
}

.form-content > p {
	font-size: 12px;
	padding-bottom: 16px;
}

.form-controls {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	border-bottom: 1px solid var(--form-border-clr);
	padding-bottom: 1rem;
}

.form-controls > div {
	display: block;
}

.form-controls > div input {
	width: 100%;
}

.form-controls > .farm-pet-radio {
	grid-column: span 2;
}

.submission > button {
	background-color: #026654;
	color: var(--font-clr);

	margin-top: 1rem;
	margin-bottom: 8px;
	padding: 8px 12px;

	border-radius: 0.5rem;
	border: 1px solid var(--font-clr);

	font-weight: bold;
}

.submission > p {
	font-size: 12px;
}

.submission > p a {
	font-weight: bold;
}
